
@use '../../global/variables';

@use '../../global/shared/utils';
@use '../../global/shared/prism';


* {
  box-sizing: border-box;
}

site-root {
  min-height: 100%;
  display: block;
}

::selection {
  background: #98d2ff;
}

::-moz-selection {
  background: #98d2ff;
}

html, body {
  font-family: 
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  scroll-padding-top: 80px;
}

body {
  --body-bg-color: var(--slate);
  --item-bg-color: var(--dark-blue);
  --h1-text-size: clamp(1.4rem, 3vw, 2.4rem);
  --h2-text-size: clamp(1.4rem, calc(0.5rem + 2vw), 2.2rem);
  --p-text-size: clamp(1rem, 0.5rem + 1vw, 1.6rem);
  --code-text-size: clamp(1rem, 0.5rem + 1vw, 1.4rem);
  --desc-text-size: clamp(0.8rem, 0.5rem + 1vw, 1rem);
  background-color: var(--body-bg-color);
}


h1, h2, h3, h4 {
  letter-spacing: 0px;
  font-weight: 700;
}

a {
  color: var(--goldenyellow);
  text-decoration: none;
  outline: none;
  outline-offset: 0;
  border-bottom: 2px solid currentColor;
  font-weight: 600;
}
a:visited {
  color: var(--goldenyellow);
}
a:hover, a:focus {
  outline-offset: 0;
  outline: double 5px #e4b067;
  color: #1f190a;
  background-color: #e4b067;
  border-bottom: none;
}

p {
  color: var(--light-grey);
  font-size: var(--p-text-size);
  line-height: 1.5;
}

.wrapper {
  line-height: 32px;
  min-height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
}

pre {
  word-break: break-all;
  word-wrap: break-word;
  display: block;
  white-space: pre-wrap;
  margin: 24px 0px 28px;
  border-radius: 4px;
  color: #16161D;
  background-color: #f8f8f8;
  code {
    font-weight: 500;
    display: block;
    overflow-x: auto;
    word-wrap: normal;
    white-space: pre-wrap;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 20px;
  }
}

code {
  font-weight: 400;
  font-family: 'Roboto Mono', 'Source Code Pro', monospace;
  font-size: 14px;
}

::-moz-selection {
  color: rgb(0, 0, 0);
  background: var(--light-blue);
}

::selection {
  color: rgb(0, 0, 0);
  background: var(--light-blue);
}