@use '../../global/variables';

landing-page {
  display: block;
  width: 90%;
}

section {
  margin-bottom: 196px;
}


// TODO: Move to generic components
.ui-fancy-underline {
  display: inline-block;
  position: relative;

  &:before {
    z-index: -1;
    background: #BFE4FF;
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
  }

}

.ui-tabs {
  .ui-tab {
    min-height: 300px;
  }
  .ui-tab-bar {
    background: #2E3B4A;
    border-radius: 8px 8px 0 0;
    display: flex;
    flex-direction: row;
    padding: 16px;

    &__button {
      cursor: pointer;
      user-select: none;
      font-family: var(--f-family-display);
      font-size: 13px;
      color: var(--c-indigo-30);
      padding: 6px 14px;

      margin-right: 10px;

      &--selected {
        background: #617184;
        color: white;
        border-radius: 6px;
      }
    }
  }
}
