:root {
  --goldenyellow: #fedb8b;
  --white: #fff;
  --slate: #262727;
  --grey-blue: #73849a;
  --light-grey: #e0e0e0;
  --light-blue: #8bb8df;
  --dark-blue: #2b2f33;
  --dark-pink: #99003b;
  --dark-green: #2d494e;
  --light-green: #25b182;

  --button-shadow: 0 8px 16px rgba(0,0,0,.1), 0 3px 6px rgba(0,0,0,.08);
  --button-shadow-hover: 0 4px 6px rgba(0,0,0,.12), 0 1px 3px rgba(0,0,0,.08);
  --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
}