
header {
  border-bottom: 1px dashed var(--grey-blue);
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  padding: 0 4vw;
  background-color: var(--body-bg-color);
}

h1 {
  display: block;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  font-size: var(--h1-text-size);
  white-space: nowrap;
}

.home a {
  font-size: var(--h1-text-size);
  margin: auto;
  margin-bottom: 18px;
  margin-right: 13px;
  border-bottom: 3px solid currentColor;
}

.nav {
  list-style: none;
  white-space: nowrap;
  margin: 0;
  display: flex;
  padding-left: 15px;
}

.nav-item {
  display: inline-block;
  margin: auto;
}

a {
  font-size: var(--p-text-size);
}

li a {
  padding-bottom: 4px;
  border-bottom: 3px solid currentColor;
}

a {
  color: var(--goldenyellow);
  text-decoration: none;
  outline: none;
  outline-offset: 0;
  border-bottom: 2px solid currentColor;
  font-weight: 700;
  /* transition: background-color 300ms ease, box-shadow 300ms ease, outline 300ms ease, box-shadow 300ms ease, color 300ms ease, border-bottom 300ms ease; */
}
a:visited {
  color: var(--goldenyellow);
}
a:hover, a:focus {
  outline-offset: 0;
  outline: double 5px #e4b067;
  color: #1f190a;
  background-color: #e4b067;
  border-bottom: none;
}